<div qv-extension style="height: 100%; position: relative; overflow: auto;">
	<table ng-form name="inputForm" id="selectionTable">
		<tr>
			<td>Vertical Dimension <span style="color: #ff0000;" ng-show="loadedVertical !== totalVertical">( {{loadedVertical}} of {{totalVertical}} values displayed. )</span><br />
				<lui-select ng-model="fieldList1.model">
					<option ng-repeat="row in fieldList1.qFieldList.qItems" value="{{row.qName}}">{{row.qName}}</option>
				</lui-select>
			</td>
			<td>Horizontal Dimension <span style="color: #ff0000;" ng-show="loadedHorizontal !== totalHorizontal">( {{loadedHorizontal}} of {{totalHorizontal}} values displayed. )</span><br />
				<lui-select ng-model="fieldList2.model">
					<option ng-repeat="row in fieldList2.qFieldList.qItems" value="{{row.qName}}">{{row.qName}}</option>
				</lui-select>
			</td>
			<td>Measure<br />
				<lui-select ng-model="measureList.model">
					<option ng-repeat="row in measureList.qMeasureList.qItems" value="{{row.qData.measure.qDef}}" alt="{{row.qMeta.description}}">{{row.qData.measure.qLabel}}</option>
				</lui-select>
			</td>
			<td style="vertical-align: bottom;">
				<lui-button ng-click="stratify(fieldList1.model, fieldList2.model, measureList.model);">View</lui-button>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<table>
					<tr>
						<td>Heat Map Color</td>
						<td>Exclude Nulls</td>
						<td>Min value <span style="color: #ff0000;" class="error" ng-show="inputForm.minValue.$invalid && minRange.minVal !== undefined">( Value can only be between {{minRange.minVal}} and {{maxRange.setVal}} )</span>
						</td>
						<td>Max value <span style="color: #ff0000;" class="error" ng-show="inputForm.maxValue.$invalid && maxRange.maxVal !== undefined">( Value can only be between {{minRange.setVal}} and {{maxRange.maxVal}} )</span>
						</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><lui-select ng-model="heatMapColors.selectedOption" ng-blur="heatMapColors.selectedOption">
								<option ng-repeat="row in heatMapColors.colorList" value="{{row.colorValue}}" ng-style="{'background-color': row.colorCode}">{{row.colorName}}</option>
							</lui-select>
						</td>
						<td style="text-align: center;"><lui-checkbox x-model="excludeNulls"></lui-checkbox></td>
						<td><input name="minValue" ng-model="minRange.setVal" class="lui-input" type="number" ng-min="minRange.minVal" ng-max="maxRange.setVal" required /></td>
						<td><input name="maxValue" ng-model="maxRange.setVal" class="lui-input" type="number" ng-min="minRange.setVal" ng-max="maxRange.maxVal" required /></td>
						<td><lui-button ng-click="filterGrid();">Filter</lui-button></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table border="1" id="pivotDataTable" ng-show="controlCubeDef !== undefined">
		<tr>
			<td><button ng-click="filterData();" ng-show="false">Filter Fields</button></td>
			<td ng-repeat="topRow in controlCubeDef.qHyperCube.qPivotDataPages[0].qTop"><button ng-click="selectFieldValue(fieldList2.model, topRow.qText);">{{topRow.qText}}</button></td>
		</tr>
		<tr ng-repeat="leftRow in controlCubeDef.qHyperCube.qPivotDataPages[0].qLeft">
			<td><button ng-click="selectFieldValue(fieldList1.model, leftRow.qText);">{{leftRow.qText}}</button></td>
			<td ng-repeat="dataRow in controlCubeDef.qHyperCube.qPivotDataPages[0].qData[$index]" ng-style="setStyle(dataRow.qText);">
				{{dataRow.qText}}
			</td>
		</tr>
	</table>
</div>